---
const { billede, beskrivelse } = Astro.props;
---

<article>
  <img src={billede} />
  <p>{beskrivelse}</p>
</article>

<style>
  article {
    background-color: rgb(32, 32, 32);
    color: #7a7a7a;
    margin: 10px;
  }

  article img {
    width: 200px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
