---

---

<div>
  <input type="text" placeholder="Hvad vil du afspille?" />
</div>

<style>
  input {
    background-color: #1f1f1f;
    border-radius: 20px;
    color: white;
    padding: 10px 60px 10px 30px;
    border: none;
    outline: none;
  }
</style>
